@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.cdnfonts.com/css/cubano');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sofia Pro', sans-serif;
}


* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Cubano', sans-serif;
}

.btn{
  @apply py-2 cursor-pointer px-4 bg-slate-200 hover:bg-slate-300 transition rounded shadow border w-fit flex items-center justify-center gap-1;
}
